.grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 20px;
}

input{
    outline: none;
    border: none;
    width: 100%;
}
.book{
    padding: 40px 0;
    background-color:#282834 ;
    color: white;
}

.book h1{
    font-size: 28px;
}

.book h1 span{
    color: #7fc142;
}
.book input{
    padding:20px;
}

.book input:nth-last-child(1){
    background: #7fc142;
    color: white;
}

@media only screen and (max-width: 768px) {
    .home{
        color: #fff;
        height: 50vh;
    }
    .home img{
        width: 100%;
        height: 50vh;
    }

    .left, .right{
        width: 100%;
    }

    .book h1{
        margin-bottom: 20px;
    }

    .container .flex, .book .flex_space{
        flex-direction: column;
    }

    .grid{
        grid-template-columns: repeat(3,1fr);
    }
}