footer{
    position: relative;
    background-color: #2d3748;
    color: #b6b7b9;
    min-height: 10vh;

}

.container-grid {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding: 20px;
}
.box {
    flex: 1;
    padding: 0 10px;
  }
  .rounded-map {
    width: 100%;
    max-width: 200px; /* Adjust the maximum width as needed */
    border-radius: 10px; /* Add rounded corners */
    overflow: hidden; /* Hide any overflowing content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    margin: 5px 20px 0 0;
}
  
  /* Style for the embedded iframe */
  .rounded-map iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove the iframe border */
  }

footer .p{
    color: #b6b7b9;
    font-size: 10px;
    line-height: 25px;
}

footer .icon{
    display: flex;

}
footer .icon i{
    margin: 25px 25px 25px 0;
    color: #b6b7b9;

}
footer .icon i:hover{
    color: #fafafa; /* Example color on hover */
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: inherit; /* Preserve the default text color */
  }
  a:hover {
    /* Add your hover styles here, such as changing text color */
    color: #fafafa; /* Example color on hover */
    transition: 0.5s;

  }

footer h2{
    color: white;
    margin-bottom: 10px;
}

footer li{
    margin-bottom:20px;
}

footer i{
    color: #7fc142;
    margin: 20px 0;
    margin-right: 20px;
}

footer label{
    margin: 20px 0;
}
.box li{
    margin-bottom: 5px;
}

/* @media  only screen and (max-width:700px) {
     footer .grid{
        grid-template-columns: repeat(1,1fr);
    }
    }
    
    @media  only screen and (max-width:600px) {
        footer .grid{
            grid-template-columns: repeat(1,1fr);
        }
    } */