footer{
    position: relative;
    background-color: #2d3748;
    color: #b6b7b9;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.container-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box {
    flex: 1;
    padding: 0 10px;
    margin-bottom: 20px;

  }
  .rounded-map {
    flex: 2;
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
    border-radius: 10px; /* Add rounded corners */
    overflow: hidden; /* Hide any overflowing content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    margin: 5px 0;
}
  
  /* Style for the embedded iframe */
  .rounded-map iframe {
    width: 100%;
    height: 100%;
    border: none; /* Remove the iframe border */
  }

footer .p{
    color: #b6b7b9;
    font-size: 8px;
    line-height: 25px;
}

footer .icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer .icon i{
    margin: 25px 25px 25px 0;
    color: #b6b7b9;

}
footer .icon i:hover{
    color: #fafafa; /* Example color on hover */
    transition: 0.5s;
}

a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    /* Add your hover styles here, such as changing text color */
    color: #fafafa; /* Example color on hover */
    transition: 0.5s;

  }

footer h2{
    color: white;
    margin-bottom: 10px;
}

footer li{
    margin-bottom:20px;
}

footer i{
    color: #7fc142;
    margin: 20px 0;
    margin-right: 10px;
}

footer label{
    margin: 10px 0;
}
.box li{
    margin-bottom: 5px;
}

@media  only screen and (max-width:600px) {
    footer {
        position: static; /* Change position to static for smaller screens */
        padding: 20px;
    }
    .container-grid {
        flex-direction: column; /* Stack boxes vertically on smaller screens */
    }
    
    .box {
        flex: 1;
        padding: 0 10px;
        margin-bottom: 20px;

    }
    
    .rounded-map {
        max-width: 100%;
        margin: 5px 0;
    }
    
    .icon i {
        margin: 10px 10px 10px 0;
    }

    footer .icon{
        justify-content: center;
    }
}