.rooms{
    position: relative;
}
.rooms .text{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    padding: 30px ;
}

.rooms p{
    margin: 10px 0;
    opacity: 0.7;

}
.rooms h3{
    font-size: 30px;
    line-height: 20px;
    margin-left: 20px;
    font-weight: 500;
    color: #7fc142;
}

.rooms h3 span{
    font-size: 15px;
    font-weight: 400;
    color: black;
}

/* Default styles for all screen sizes */
.rooms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .room-card {
    flex: 1;
    max-width: calc(33.33% - 20px); /* Three cards in a row with spacing */
    margin: 10px;
    /* Other card styles */
  }
  
  /* Media query for screens smaller than a certain size (adjust as needed) */
  @media (max-width: 768px) {
    .rooms-container {
      flex-direction: column; /* Single column layout */
    }
  
    .room-card {
      max-width: 100%; /* Full width for single column */
    }
  }
  