*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}
h1,h2{
    font-weight: 400;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.flex_space{
    display: flex;
    justify-content: space-between ;
}

button{
    border: none;
    background: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}

.primary-btn{
    padding: 15px 40px;
    background-color: #7fc142;
    font-weight: bold;
    color: white;
}

.secondaty-btn{
    padding: 15px 40px;
    background: none;
    border: 2px solid white;
    color: white;
}

.container{
    max-width: 85%;
    margin: auto;
}

header {
    height: 10vh;
    line-height: 10vh;
    padding: 0 20px;
}

header img{
    margin: 20px 0;

}

header ul{
    display: inline-block;
}

header ul li{
    display: inline-block;
    text-transform: uppercase;
}

header ul li a{
    color: black;
    margin: 0 10px;
    transition: 0.5s;
}

header ul li a:hover{
    color:#7fc142; 
}

header i {
    margin: 0 20px;
}

header button{
    margin: 13px 40px;
}

.navlinks {
    display: flex;
    align-items: center;
    gap: 20px;
  }


/* You can also style the language list within the container */
.language-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position:absolute;
  z-index: 1;
  right: 10px;
  background: #fff; /* Add background color as needed */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow as needed */
}

.language-list li {
  padding: 8px 16px;
  cursor: pointer;
  color: #000;
}
.language-list li:hover {
    background:#fafafa
  }

/* Additional styling for open/close animation if desired */
.language-list.closed {
  display: none;
}

